<div class="container mt-5 login-box " style="width: 35rem;">
    <h1 style="color: #00FFFF;"><i class="bi bi-box-arrow-in-right"></i>Kirish</h1>
    <form action="/" method="POST">
        <div class="mb-3 user-box">
        <input type="text" class="form-control" id="name" name="name">
        <label for="name" class="form-label">Ism</label>
        </div>
        <div class="mb-3 user-box" >
        <input type="text" class="form-control" id="sure" name="sure">
        <label for="sure" class="form-label">Familya</label>
        </div>
        <div class="mb-3 user-box">
            <input type="password" class="form-control" id="password" name="password">
            <label for="password" class="form-label">Parol</label>
            </div>
        <button type="submit"> Enter</button>
         
         
    </form>
</div>
